* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

nav.navTop {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 50px;
}
.top-left{
  display: inline-block;
}
.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}
nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
.heart{
  border-right-style: solid;
  border-right-width: 1px;
  margin-left: 50px;
  margin-right: 10px;
  padding-right: 10px;
}
header.header{
  color: #fff;
  background-color: rgb(32,101,136);
  height: 100vh;
  background-image: url(https://static.npmjs.com/images/hero-cityscape.svg);
}
.icono{
  margin: 20px;
  width: 80px;
}
.search{
  display: inline-block;
}
.search_bar{
  display: inline-block;
  width: 700px;  
  background: rgb(31, 82, 111);
  vertical-align: middle;
  height: 50px;
  margin-bottom: 57px;
  border-radius: 6px;
}
.search_bar p{
  margin-top: 2%;
  margin-left: 3%;
}
.account{
  display: inline-block;
  height: 50px;
  float: right;
  clear: both;
}
.account p{
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 70px;
}
.account_icon{
  margin: 20px;
  width: 50px;
}
.header_text > button{
  background:rgb(240, 146, 51);
  border-radius: 20px;
  padding: 7px 26px 8px 26px;
  font-size: 18px;
  border: 1px solid transparent;
  text-align: center;
  width: 50%;
  color: #fff;
  margin-top: 2rem;
}
.header_text span{
  font-size: 1.25rem;
  line-height: 1.5;

}
.header_text h1{
  margin-top: 72px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 3rem;
}
.header_text{
  width: 50%;  
  padding: 4rem;
}
.section01{
  background: rgb(39, 53, 71);
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section01_img{
  width: 448px;
}
.section01_text{
  width: 30%;
  margin-left: 64px;
  text-align: center;
}
h3{
  font-size: 2.25rem;
  text-align: left;
}
.section01_text ul{
  margin-left: 40px;
  text-align: left;
}
.section01_text ul li{
  font-size: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  line-height: 29.4px;
  text-align: left;
}
.section01_text button{
  border-radius: 20px;
  padding: 7px 26px 8px 26px;
  font-size: 18px;
  color: #fff;
  background-color: #cb3837;
  border: 1px solid transparent;
  width: 300px;
  text-align: center;
}
.section01_text p{
  text-align: center;
  margin-top: 20px;
  font-size: 18px
}
.section02{
  background-image: url(images/forklift.svg);
  background-size: cover;
  height: 95vh;
  color: #fff;
  display: flex;
  align-items: center;
}
.section02_text{
  width: 30%;
  margin-left: 15%;
}
.section02_text p{
  font-size: 18px;
  line-height: 1.47;
  width: 85%;
  margin: 18px 0;
}
.section02_text button{    
  background-color: #34495e;
  border-radius: 20px;
  padding: 7px 26px 8px 26px;
  border: 1px solid transparent;
  color: #fff;
  font-size: 16px;
}
div.icons{
  margin: 0 auto;
}
div.icons div{
  width: 30%;
  display: inline-block;
}
section.section03{
  height: 100vh;
  text-align: center;
}
section.section03 h3{
  text-align: center;
  margin: 56px 0 20px;
}
div.section03_header{
  font-size: 18px;
  padding-bottom: 32px;
  margin: 18px 0;
}
.icons div > p{
  width: 55%;
  font-size: 18px;
  margin: 36px auto;
}